footer {
    text-align: center;
    padding: 10px;
    background-color: #EED3D9;
    color: #000;
    position: bottom;
    left: 0;
    right: 0;
    bottom: 0;
    width: auto;
    border-radius: 7px;
}

body {
    flex-direction: column;
    background-color: #B5C0D0;

    
}

h1{
    text-align: center;
    font-family: "Oswald", sans-serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
  
}
#navbar {
    background-color: #CCD3CA;
    color: black;
    overflow: hidden;
    position: sticky;
    top: 0;
    z-index: 100;
    border-radius: 7px;
  }
  
  #navbar a {
    color: black;
    text-decoration: none;
    padding: 15px;
    display: inline-block;
    font-family: "Oswald", sans-serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
  }

  


#content {
  padding: 10px;
}

div {
  padding: 10px;
  background-color: #6c88b0;
  border-radius: 10px;
  width: auto;
  height: auto;
  right: auto;
  left: auto;
  
}

h2{
  text-align: center
}

#h2nr1{
  height: auto;
  width: auto;
  border-radius: 15px;
  background-color: #e3b6cf;
  padding: 10px;
}

#pnr1{
  height: auto;
  width: auto;
  border-radius: 15px;
  background-color: #e3b6cf;
  padding: 10px;
}


#h2nr2{
  height: auto;
  width: auto;
  border-radius: 15px;
  background-color: #dbc1cf;
  padding: 10px;
}

#pnr2{
  height: auto;
  width: auto;
  border-radius: 15px;
  background-color: #dbc1cf;
  padding: 10px;
}

#pknr2{
  height: auto;
  width: auto;
  border-radius: 15px;
  background-color: #dbc1cf;
  padding: 10px;
}


#h2nr3{
  height: auto;
  width: auto;
  border-radius: 15px;
  background-color: #f5a6d2;
  padding: 10px;
}


img{
  width: 40%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  border-style: double;
  border-color: #000;
}

table {
  width: 100%;
  border-collapse: collapse;
  margin: 20px 0;
}

th,td {
  padding: 8px;
  border-bottom: 1px solid #fc8bc7;
  text-align: left;
}

td{
  background-color: #CCD3CA;
}
th {
  background-color: #f5a6d2;
}


#test li{
  padding: auto;
  margin: 5px;
}

#h2nr4{
  height: auto;
  width: auto;
  border-radius: 15px;
  background-color: #f5a6d2;
  padding: 10px;
}
#pnr4{
  height: auto;
  width: auto;
  border-radius: 15px;
  background-color: #f5a6d2;
  padding: 10px;
}



.kautkas {
  font-family: "Oswald", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

